div.prompt {
	position: absolute;
	z-index: 2;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	top: 30%;
	border: 1px solid black;
	background-color: white;
	padding: 0.25em;
	max-width: 60%;
	min-width: 20%;
}

div#shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background-image: url("../images/shadow.png");
	z-index: 1;
	display: none;
}

div.container-prompt {
	position: relative;
	z-index: 2;	
}

div.prompt-dropdown {
	display: none;
	border: 1px solid black;
	background-color: #EAFFCD;
	position: absolute;
	top: 1.6em;
	z-index: 2;
	padding: 0.2em;
	max-height: 25em;
	max-width: 30em;
	overflow: scroll;
}

div.prompt-dropdown > h2 {
	margin-top: 0.1em;
}


#prompt-select-tile, #prompt-select-background > ul {
	list-style: none;
	padding: 0;
}

#prompt-select-tile, #prompt-select-background li {
	padding: 0 0.5em 1em 0.5em;
}

#prompt-select-tile, #prompt-select-background img {
	max-width: 16em;
}