body {
	font-family: Verdana, Arial, sans-serif;
	background-color: white;
}


h1 {
    font-family: serif;
    border-bottom: 1px solid #cecece;
}

a {
	color: #7D8B5B;
	text-decoration: none;
}

a:hover {
	color: #C4DA90;
	text-decoration: none;
}
