body {
	font-family: Verdana, Arial, sans-serif;
	background-color: white;
}


a {
	color: #7D8B5B;
	text-decoration: none;
}

a:hover {
	color: #C4DA90;
	text-decoration: none;
}


blockquote {
    font-family: "Times New Roman", serif;
    font-style: italic;
    font-size: normal;
}
