#mat-container {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: 0;
	padding: 0;
	border: 1px solid black
}

#mat-container > table {
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0 0;
}

#mat-container * tr {
	height: 2.5cm;
	min-height: 2.5cm;
	max-height: 2.5cm;
	padding: 0;
	margin: 0;
}

#mat-container * td {
	border: 1px solid black;
	width: 2.5cm;
	min-width: 2.5cm;
	max-width: 2.5cm;
	height: 2.5cm;
	min-height: 2.5cm;
	max-height: 2.5cm;
	padding: 0;
	margin: 0;
	font-family: monospace;
	font-size: 2.5cm;
}

#mat-container * img {
	max-width: 2.5cm;
	max-height: 2.5cm;
}

#mat-container * img.spacer {
	min-width: 2.5cm;
	min-height: 2.5cm;
}


#mat-mini-container {
	position: relative;
	margin: 1em;
	padding: 0;
}

#mat-mini-container > table {
	table-layout: fixed;
	empty-cells: show;
	border-spacing: 0 0;
	border: 1px solid black;
}

#mat-mini-container * tr {
	height: 30px;
	min-height: 30px;
	max-height: 30px;
}

#mat-mini-container * td {
	border: 1px solid black;
	width: 30px;
	min-width: 30px;
	max-width: 30px;
	height: 30px;
	min-height: 30px;
	max-height: 30px;
	padding: 0;
	margin: 0;
}

#mat-mini-container * img {
	max-width: 30px;
	max-height: 30px;
}

#mat-mini-container * img.tile {
	min-width: 30px;
	min-height: 3px;
}

#mat-description-and-save-container {
	position: relative;
	top: 2em;
}