<div class="toolbarheader">
  <h1 data-bind="text: name"></h1>
  <div class=".ui-toolbar">
    <button id="action-character-editable-toggle"></button>
  </div>
</div>
<p>
  <strong><span data-bind="text: className"></span></strong>, 
  Level <strong><span data-bind="text: level"></span>
  <input type="number" min="1" max="20" data-bind="value: level" /></strong>—
  <span 
      class="character-details-description" 
      data-bind="htmlValue: description" contenteditable="false">
  </span>
</p>

<div class="multicol">
  <h2>Characteristics</h2>

  <table>
    <thead>
      <th></th>
      <th>Current</th>
      <th>Bonus</th>
    </thead>
    <tbody>
      <tr>
        <th>Agility</th>
        <td>
          <span data-bind="text: characteristics.agility"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[agility]"
              data-bind="value: characteristics.agility" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.agility())"></td>
      </tr>
      <tr>
        <th>Constitution</th>
        <td>
          <span data-bind="text: characteristics.constitution"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[constitution]"
              data-bind="value: characteristics.constitution" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.constitution())"></td>
      </tr>
      <tr>
        <th>Dexterity</th>
        <td>
          <span data-bind="text: characteristics.dexterity"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[dexterity]"
              data-bind="value: characteristics.dexterity" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.dexterity())"></td>
      </tr>
      <tr>
        <th>Strength</th>
        <td>
          <span data-bind="text: characteristics.strength"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[strength]"
              data-bind="value: characteristics.strength" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.strength())"></td>
      </tr>
      <tr>
        <th>Intelligence</th>
        <td>
          <span data-bind="text: characteristics.intelligence"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[intelligence]"
              data-bind="value: characteristics.intelligence" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.intelligence())"></td>
      </tr>
      <tr>
        <th>Perception</th>
        <td>
          <span data-bind="text: characteristics.perception"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[perception]"
              data-bind="value: characteristics.perception" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.perception())"></td>
      </tr>
      <tr>
        <th>Power</th>
        <td>
          <span data-bind="text: characteristics.power"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[power]"
              data-bind="value: characteristics.power" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.power())"></td>
      </tr>
      <tr>
        <th>Willpower</th>
        <td>
          <span data-bind="text: characteristics.willpower"></span>
          <input
              type="number"
              min="0" max="21"
              name="characteristics[power]"
              data-bind="value: characteristics.willpower" />
        </td>
        <td data-bind="text: character.characteristicsModifier(characteristics.willpower())"></td>
      </tr>
    </tbody>
  </table>

  <h2>Life Points</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind="text: baseLifePoints"></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td data-bind="text: classBonusLifePoints"></td>
    </tr>
    <tr>
      <th>Multiples</th>
      <td data-bind="text: lifePointsBought"></td>
    </tr>
    <tr>
      <th>Total Full</th>
      <td data-bind="text: fullLifePoints"></td>
    </tr>
    <tr>
      <th>Current</th>
      <td>
        <span data-bind="text: currentLifePoints"></span>
        <input
            type="number"
            name="currentLifePoints"
            data-bind="value: currentLifePoints" />
      </td>
    </tr>
  </table>

  <h2>Movement</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Penality</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h2>Fatige</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind="text: baseFatigue"></td>
    </tr>
    <tr>
      <th>Bonus</th>
      <td data-bind="text: bonusFatigue"></td>
    </tr>
    <tr>
      <th>Total Full</th>
      <td data-bind="text: fullFatigue"></td>
    </tr>
    <tr>
      <th>Current</th>
      <td>
        <span data-bind="htmlValue: currentFatigue"></span>
        <input 
          type="number"
          name="currentFatigue"
          min="0"
          data-bind="value: currentFatigue" />
      </td>
    </tr>
  </table>
</div>

<h2>Combat</h2>

<div class="multicol">
  
  <h3>Initiative</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Attack</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Block</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Dodge</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Agility</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Special</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>
</div>

<h2>Armor</h2>

<div class="toolbarheader">
  <h3>Armor Worn</h3>
  <div class=".ui-toolbar">
    <button id="action-character-add-armor"></button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Location</th>
      <th>Cut</th>
      <th>Impact</th>
      <th>Thrust</th>
      <th>Heat</th>
      <th>Electricity</th>
      <th>Cold</th>
      <th>Energy</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<h3>Wear Armor</h3>

<h2>Secondary Abilities</h2>

<div class="multicol">

</div>


<h2>Inventory</h2>

<ul id="character-inventory" data-bind="foreach: inventory">
  <li class="editable" data-bind="click: $parent.toggleInventoryItemEditable">
    <button style="display: none" data-bind="click: $parent.removeInventoryItem"></button> 
    <span data-bind="text: $data" contenteditable="false"></span>
  </li>
</ul>

<input 
    type="text"
    placeholder="Add item to inventory..."
    id="character-action-inventory-add"
    style="display: none" />
