<div class="toolbarheader">
  <h1 data-bind="text: name"></h1>
  <div class=".ui-toolbar">
    <button id="action-character-editable-toggle"></button>
  </div>
</div>
<p>
  <strong><span data-bind="text: className"></span></strong>, 
  Level <strong><span data-bind="text: level"></span></strong>—
  <span class="character-details-description" data-bind="htmlValue: description" contenteditable="false"></span>
</p>
<div class="multicol">
  <h2>Characteristics</h2>
  <table>
    <thead>
      <th></th>
      <th>Current</th>
      <th>Bonus</th>
    </thead>
    <tbody>
      <tr>
        <th>Agility</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.agility" pattern="^[0-9]+$"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.agility())"></td>
      </tr>
      <tr>
        <th>Constitution</th>
        <td contenteditable="false"  data-bind="htmlValue: characteristics.constitution" pattern="^[0-9]+$"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.constitution())"></td>
      </tr>
      <tr>
        <th>Dexterity</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.dexterity" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.dexterity())"></td>
      </tr>
      <tr>
        <th>Strength</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.strength" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.strength())"></td>
      </tr>
      <tr>
        <th>Intelligence</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.intelligence" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.intelligence())"></td>
      </tr>
      <tr>
        <th>Perception</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.perception" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.perception())"></td>
      </tr>
      <tr>
        <th>Power</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.power" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.power())"></td>
      </tr>
      <tr>
        <th>Willpower</th>
        <td contenteditable="false" data-bind="htmlValue: characteristics.willpower" pattern="^[0-9]+$"></td>
        <td data-bind="htmlValue: character.characteristicsModifier(characteristics.willpower())"></td>
      </tr>
    </tbody>
  </table>

  <h2>Life Points</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind="text: baseLifePoints"></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Multiples</th>
      <td data-bind="text: lifePointsBought"></td>
    </tr>
    <tr>
      <th>Total Full</th>
      <td data-bind="text: fullLifePoints"></td>
    </tr>
    <tr>
      <th>Current</th>
      <td></td>
    </tr>
  </table>

  <h2>Movement</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Penality</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h2>Fatige</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Special</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>
</div>

<h2>Combat</h2>

<div class="multicol">
  
  <h3>Initiative</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Attack</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Block</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Dexterity</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

  <h3>Dodge</h3>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Agility</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Special</th>
      <td data-bind=""></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Total</th>
      <td data-bind=""></td>
    </tr>
  </table>

</div>

<h2>Armor</h2>

<h3>Armor Worn</h3>

<h3>Wear Armor</h3>

<h2>Secondary Abilities</h2>

<div class="multicol">

</div>


<h2>Inventory</h2>

<ul id="character-inventory" data-bind="foreach: inventory">
  <li class="editable" data-bind="click: $parent.toggleInventoryItemEditable">
    <button style="display: none" data-bind="click: $parent.removeInventoryItem"></button> 
    <span data-bind="text: $data" contenteditable="false"></span>
  </li>
</ul>

<input 
    type="text"
    placeholder="Add item to inventory..."
    id="character-action-inventory-add"
    style="display: none" />
