<div class="toolbarheader">
  <h1 data-bind="text: name"></h1>
  <div class=".ui-toolbar">
    <button id="action-character-editable-toggle"></button>
  </div>
</div>
<p>
  <strong><span data-bind="text: className"></span></strong>, 
  Level <strong><span data-bind="text: level"></span></strong>—
  <span class="character-details-description" data-bind="htmlValue: description" contenteditable="false"></span>
</p>
<div class="multicol">
  <h2>Characteristics</h2>
  <table>
    <thead>
      <th></th>
      <th>Current</th>
      <th>Bonus</th>
    </thead>
    <tbody>
      <tr>
        <td>Agility</td>
        <td data-bind="text: characteristics.agility"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.agility())"></td>
      </tr>
      <tr>
        <td>Constitution</td>
        <td data-bind="text: characteristics.constitution"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.constitution())"></td>
      </tr>
      <tr>
        <td>Dexterity</td>
        <td data-bind="text: characteristics.dexterity"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.dexterity())"></td>
      </tr>
      <tr>
        <td>Strength</td>
        <td data-bind="text: characteristics.strength"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.strength())"></td>
      </tr>
      <tr>
        <td>Intelligence</td>
        <td data-bind="text: characteristics.intelligence"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.intelligence())"></td>
      </tr>
      <tr>
        <td>Perception</td>
        <td data-bind="text: characteristics.perception"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.perception())"></td>
      </tr>
      <tr>
        <td>Power</td>
        <td data-bind="text: characteristics.power"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.power())"></td>
      </tr>
      <tr>
        <td>Willpower</td>
        <td data-bind="text: characteristics.willpower"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.willpower())"></td>
      </tr>
    </tbody>
  </table>

  <h2>Life Points</h2>

  <table>
    <tr>
      <th>Base</th>
      <td data-bind="text: baseLifePoints"></td>
    </tr>
    <tr>
      <th>Class Bonus</th>
      <td></td>
    </tr>
    <tr>
      <th>Multiples</th>
      <td data-bind="text: lifePointsBought"></td>
    </tr>
    <tr>
      <th>Total Full</th>
      <td data-bind="text: fullLifePoints"></td>
    </tr>
    <tr>
      <th>Current</th>
      <td></td>
    </tr>
  </table>

  <h2>Fatige</h2>
  <h2>Initiative</h2>


