<div id="characters-list" class="content-box">
  <h1>All Characters</h1>
  <div class="toolbar ui-widget-header ui-corner-all">
    <input type="text" value="Search..." style="width: 4em;"/>
    <button id="character-add">Add new Character</button>
  </div>
  <div id="characters-list-items"></div>
</div>

<div id="characters-view" class="content-box">

  <div style="text-align:center" id="character-placeholder" data-bind="ifnot: currentCharacter">
    <h1>Character Details</h1>
    <%= image_tag "Icon-Characters.png" %>
    <p>Select a character on the left site or click the <em>Add</em> button to display details.</p>
  </div>

  <div id="character-details-container" data-bind="template: { name: 'character-template-anima', if: currentCharacter, data: currentCharacter }"></div>
</div>

<%= javascript_tag do -%>
  $(document).ready(function() {

    $("button#character-add").button({
      icons: { primary: "ui-icon-plus" }
    });

    $.getJSON("<%= url_for action: "index" %>")
      .done(function(data) {
        window.charactersListViewModel = new CharactersListViewModel([]);
        ko.applyBindings(window.charactersListViewModel);

        data.forEach(function(o) {
          var characterModel = new CharacterTypeMap[o._type].gameModel(o);
          var characterViewModel = new CharacterTypeMap[o._type].viewModel(
              characterModel);
          window.charactersListViewModel.characters.push(characterViewModel);
        });
      });
  });
<% end -%>

<script type="text/html" id="character-template-anima">
  <h1 data-bind="text: name"></h1>
  <p class="character-details-description" data-bind="htmlValue: description" contenteditable="true"></p>

  <p>
    <strong><span data-bind="text: class"></span></strong>, 
    Level <strong><span data-bind="text: level"></span></strong>
  </p>

  <h2>Characteristics</h2>
  <table>
    <thead>
      <th></th>
      <th>Current</th>
      <th>Bonus</th>
    </thead>
    <tbody>
      <tr>
        <td>Agility</td>
        <td data-bind="text: characteristics.agility"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.agility())"></td>
      </tr>
      <tr>
        <td>Constitution</td>
        <td data-bind="text: characteristics.constitution"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.constitution())"></td>
      </tr>
      <tr>
        <td>Dexterity</td>
        <td data-bind="text: characteristics.dexterity"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.dexterity())"></td>
      </tr>
      <tr>
        <td>Strength</td>
        <td data-bind="text: characteristics.strength"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.strength())"></td>
      </tr>
      <tr>
        <td>Intelligence</td>
        <td data-bind="text: characteristics.intelligence"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.intelligence())"></td>
      </tr>
      <tr>
        <td>Perception</td>
        <td data-bind="text: characteristics.perception"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.perception())"></td>
      </tr>
      <tr>
        <td>Power</td>
        <td data-bind="text: characteristics.power"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.power())"></td>
      </tr>
      <tr>
        <td>Willpower</td>
        <td data-bind="text: characteristics.willpower"></td>
        <td data-bind="text: character.characteristicsModifier(characteristics.willpower())"></td>
      </tr>
    </tbody>
  </table>
</script>
