<div id="characters-list" class="content-box">
  <h1>All Characters</h1>
  <input type="text" value="Search..." style="width: 4em;"/>
  <button id="character-add">Add new Character</button>
  <div id="characters-list-items" class="ioslist-group-container"></div>
</div>

<div id="characters-view" class="content-box">
  <h1>Character Details</h1>

  <div style="text-align:center">
    <%= image_tag "Icon-Characters.png" %>
    <p>Select a character on the left site or click the <em>Add</em> button to display details.</p>
  </div>
</div>

<%= javascript_tag do -%>
  $(document).ready(function() {

    $("button#character-add").button({
      icons: { primary: "ui-icon-plus" }
    });

    $.getJSON("<%= url_for action: "index" %>")
      .done(function(data) {
        window.charactersModel = new CharactersModel([]);
        ko.applyBindings(window.charactersModel);

        data.forEach(function(o) {
          window.charactersModel.characters.push(o);
        });

        //$("#characters-list-items").ioslist();
      });
  });
<% end -%>
