<div id="characters-list" class="content-box">
  <div>
    <h1>All Characters</h1>
    <div id="characters-list-actions">
      <button class="action-add-character"></button>
    </div>
  </div>

  <div id="new-character-dialog" title="Create a new Character">
    <form name="character">
      <fieldset>
        <label for="character[name]">Name</label>
        <input type="text" name="character[name]" placeholder="Character Name" />

        <label for "character[type]">Rule System</label>
        <select name="character[type]" class="ui-widget">
          <option value="AnimaCharacter">Anima</option>
        </select>
      </fieldset>
    </form>
  </div>

  <input type="search" placeholder="Search for Character..." id="search-character" />

  <div id="characters-list-items"></div>
</div>


<div id="characters-view" class="content-box">
  <div style="text-align:center" id="character-placeholder" data-bind="ifnot: currentCharacter">
    <h1 style="display: block;">Character Details</h1>
    <%= image_tag "Icon-Characters.png" %>
    <p>Select a character on the left site to display details,<br/>
      or click the <em>Add</em> button to create a new, blank character.</p>
  </div>

  <div id="character-details-container" data-bind="template: { 
      name: 'character-template',
      if: currentCharacter,
      data: currentCharacter,
      afterRender: setupTemplateUI }"></div>
</div>


<%= javascript_tag do -%>
  $(document).ready(function() {

    $("button.action-add-character").button({
      icons: { primary: "ui-icon-plus" },
      text: false
    });

    $("input#search-character").focus();

    $.getJSON("<%= url_for action: "index" %>")
      .done(function(data) {
        window.charactersListViewModel = new CharactersListViewModel([]);
        ko.applyBindings(window.charactersListViewModel);

        data.forEach(function(o) {
          var characterViewModel = new CharacterViewModel(o);
          window.charactersListViewModel.characters.push(characterViewModel);
        });
      });
  });
<% end -%>


<script type="text/html" id="character-template"></script>
