// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div#characters-list {
    float: left;

    width: 25em;
    min-width: 20em;

    position: relative;

    margin-bottom: 10px;


    h1 {
        display: inline-block;
    }


    .toolbar {
        display: flex;

        width: 100%;
        max-width: 100%;


        input {
            flex-grow: 1;
        }


        button {
            flex-grow: 0;
        }


        .ui-widget {
            font-size: 16px;
        }
    }


    #characters-list-actions {
        border-left: 1px dotted white;
        display: inline-block;
        height: auto;


        span[class|="action"] {
            display: inline-block;
            width: 16px;
            height: 16px;

            background-repeat: no-repeat;
            background-image: url('jquery-ui/dark-hive/ui-icons_cccccc_256x240.png');
            background-position: 50% 50%;
        }


        span.action-add-character {
            background-position: -160px -112px;
        }


        span.action-display-character-search {
            background-position: -160px -112px;
        }
    }

    #characters-list-items {
        position: relative;

        min-height: calc(100% - 10em);

        margin-top: 1em;
        margin-bottom: 1em;
    }

    h2 {
        border-bottom: 1px solid grey;
        padding-left: 3em;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }
}

div#characters-view {
    margin: 0.5em;
    flex: 1;

    h1 {
        display: inline-block;
    }

    h1 + p {
        margin-left: 1.5em;
        display: inline-block;
    }

    
    h2 {
        border-bottom: 1px solid grey;
    }


    div.multicol {
        columns: 2;
        -moz-columns: 2;

        column-gap: 2em;
        -moz-column-gap: 2em;


        h2:first-child {
            margin-top: 0;
        }
    }
}


div#content-box {
    display: flex;
}
