// Place all the styles related to the characters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#content-box {
    display: flex;
}


div#characters-list {
    float: left;

    width: 25em;
    min-width: 20em;

    position: relative;

    margin-bottom: 10px;


    & > div:first-child {
        display: flex;

        h1 {
            flex: 2;
        }


        #characters-list-actions {
            flex: 1;
            margin: auto;
            text-align: right;
        }
    }


    #new-character-dialog {
        display: none;
    }


    input {
        width: 100%;
    }


    #characters-list-items {
        position: relative;

        min-height: calc(100% - 10em);

        margin-top: 1em;
        margin-bottom: 1em;


        h2 {
            border-bottom: 1px solid grey;
            padding-left: 3em;
        }


        ul {
            list-style-type: none;
            padding: 0;
        }
    }
}


div#characters-view {
    margin: 0.5em;
    flex: 1;


    #characters-view-actions {
        flex: 1;
        margin: auto;
        text-align: right;
    }


    #character-details-container {

        h2 {
            border-bottom: 1px solid grey;
        }


        #character-details-description {
            min-width: 10em;
        }


        div.multicol {
            columns: 2;
            -moz-columns: 2;

            column-gap: 2em;
            -moz-column-gap: 2em;


            h2:first-child {
                margin-top: 0;
            }


            h2 {
                break-after: avoid;
            }
        }


        ul#character-inventory {
            padding: 0;


            span {
                display: inline-block;
                opacity: 1;
            }
        }


        input[data-bind] {
            display: none;

            max-width: 100%;
            box-sizing: border-box;

            background-image: none;
            background-color: rgba(255, 255, 255, 0.4);

            border: 1px dotted grey;

            color: black;

            font-style: normal;
        }


        input[data-bind]:focus {
            font-weight: normal;
        }
    }
}


div.toolbarheader {
    display: flex;

    
    h1, h2, h3, h4, h5 {
        flex: 2;
    }


    & > div {
        flex: 1;
        margin: auto;
    }
}
