// Place all the styles related to the mats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.charactercard {
    color: white;

    background-image: url('ui-bg_loop_25_000000_21x21.png');
    background-repeat: repeat;

    border: 1px grey;
    border-radius: 8px;

    padding: 12px 24px;

    .character-name {
        h1 {
            font-size: 2em;
        }


        float: none;

        .ui-icon {
            display: inline-block;
            //float: left;
        }

        float: none;
    }
}
