// Place all the styles related to the mats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div#navigation-box {
    border-bottom: 2px inset #ddd;
    height: 86px !important;
}


div[id|=dialog] {
    display: none;
}


.charactercard {
    width: 400px;

    color: white;

    background-image: url('ui-bg_loop_25_000000_21x21.png');
    background-repeat: repeat;

    border: 1px solid #333;
    border-radius: 8px;

    padding: 12px 24px;
    margin-bottom: 20px;

    box-shadow: inset 4px 5px 6px -2px #ccc;

    .character-name {
        h1 {
            font-size: 2em;
        }


        float: none;

        .ui-icon {
            display: inline-block;
            //float: left;
        }

        float: none;
    }


    input {
        font-size: 1em;
        font-weight: bold;

        color: #fff;
        background-color: #111;

        border: none;

        display: none;
    }


    dt, dd {
        display: block;
        float: left;

        margin: 0;
    }


    dt {
        color: #ccc;
        margin-left: 1.2em;
    }


    dt:first-child {
        margin: 0;
    }


    dd {
        margin-left: 0.5em;
        font-weight: bold;
    }


    dd:last-child {
        //float: none;
    }
}


div#card-add {
    padding: 8px;
    opacity: 0.3;
    box-shadow: none;

    &:hover {
        opacity: 1.0;
        box-shadow: inset 4px 5px 6px -2px #ccc;
    }

    div {
        border: 2px dashed white;
        border-radius: 8px;

        text-align: center;

        padding-bottom: 28px;
    }
}


div#actionbar {
    width: 100%;

    background-image: url('ui-bg_loop_25_000000_21x21.png');
    background-repeat: repeat;

    border-bottom: 1px solid black;

    padding: 0.4em;


    div {
        display: table-cell;
        vertical-align: middle;
    }


    div:first-child {
        width: 400px;
    }


    dl {
        margin: 0;
        padding: 0;
    }


    dt, dd {
        display: block;
        float: left;

        margin: 0;
    }


    dt {
        color: #eee;
        margin-left: 1.2em;
    }


    dt:first-child {
        margin: 0;
    }


    dd {
        color: #fff;
        margin-left: 0.5em;
        font-weight: bold;
    }
}
