<script type="application/javascript">
	var battle_mat_window;

	function open_battle_mat_window(id) {
		battle_mat_window = window.open("/mats/" + id, "battle_mat_window", 
		"location=no,menubar=no,resizable=yes,left=0,screenX=0,top=0,screenY=0,status=no,toolbar=no,scrollbars=no,width=100%,height=100%");
	}

	function show_ajax_failure_window(request) {
		var error_window = window.open("");
		error_window.document.write(request.responseText);
	}	
	
	function fill_form_field(id, value) {
		var e = $(id);
		e.value = value;
	}
	
	function ajax_form_submit(form) {
		var action = form.action;
		var method = form.method;
		
		for(element in form.elements) {
			if("_method" == element.name) {
				method = element.value;
				break;
			} 
		}
		
		new Ajax.Request(action, {
			method: method,
			parameters: Form.serialize(form),
			onFailure: function(transport) {
				show_ajax_failure_window(transport);
				document.location.reload();
			}
		});
	}
	
	function set_mat_background(url) {
		battle_mat_window.document.body.style.backgroundImage = 
			"url(" + url + ")";
	}
</script>

<h1>Battle Mat Control</h1>

<ul id="mat-edit-actions-list">
	<li>
		<div class="container-prompt">
			<div class="button-images">
				&#8595 Select Tile ...
			</div>
		</div>
	</li>
	<li>
		<div class="container-prompt">
			<div class="button-image" onclick="display_dropdown_prompt('prompt-select-background')">
				&#8595 Select Background ...
			</div>
			<div class="prompt-dropdown" id="prompt-select-background">
				<ul>
					<% @backgrounds.each do |b| %>
						<li>
							<img src="/images/textures/backgrounds/<%= b %>" onclick="set_mat_background('/images/textures/backgrounds/<%= b %>'); $('prompt-select-background').style.display = 'none';"/>
						</li>
					<% end %>
				</ul>
			</div>
		</div>
	</li>
	<li>
		<div class="container-prompt">
			<div class="button-mat-description-edit" onclick="display_dropdown_prompt('prompt-mat-change-description')">
				&#8595 Change Batte Mat Description ...
			</div>
			<div id="prompt-mat-change-description" class="prompt-dropdown">
				<% form_for(:mat, @mat,
						:url => { :action => "update" },
						:html => {
							:id => "mat-change-description-form",
							:method => :put
						}
						) do |f| %>
					<%= f.text_area :description, :rows => "3", :cols => "40" %>
					<div class="button-ok" onclick="ajax_form_submit(this.parentNode); hide_dropdown_prompt('prompt-mat-change-description');">
					</div>&nbsp;
					<div class="button-cancel" onclick="hide_dropdown_prompt('prompt-mat-change-description');">
					</div>
				<% end %>
			</div>
		</div>
	</li>
</ul>

<script type="application/javascript">
	open_battle_mat_window("<%= params[:id] %>");
</script>