<h1>Battle Mats</h1>
<p>Below you find a list of previously created Battle Mats, and the possiblity
	to create a new one.</p>
<ol id="mats-list">
	<% @mats.each do |m| %>
		<%= render :partial => "index_mat_list_item", :locals => { :mat => m } %>
	<% end %>
</ol>

<div class="button-create">
	<%= link_to_remote "Create a new Battle Mat ...", :url => { :action => "new" }, :method => :get %>
</div>
