<script id="card-template" type="text/html">
  <div class="charactercard">
    <div class="character-name">
      <h1>
        <span data-bind="text: name" class="editable"></span><input type="text" data-bind="value: name" />
      </h1>
    </div>

    <div>
      <dl>
        <dt>Class</dt>
        <dd><span data-bind="text: className"></span></dd>
        <dt>Level</dt>
        <dd><span data-bind="text: level" class="editable"></span><input type="text" data-bind="value: level" size="2" /></dd>
        <dt>Life Points</dt>
        <dd><span data-bind="text: lifePoints"></span></dd>
        <dt>Initiative</dt>
        <dd><span data-bind="text: initiative"></span></dd>
      </dl>
    </div>

    <div class="characteristics-container">
      <h2>Characteristics</h2>
      <dl>
        <dt>STR</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.strength"></span>
          <input type="text" data-bind="value: characteristics.strength" size="2"/>
        </dd>
        <dt>CON</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.constitution"></span>
          <input type="text" data-bind="value: characteristics.constitution" size="2"/>
        </dd>
        <dt>DEX</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.dexterity"></span>
          <input type="text" data-bind="value: characteristics.dexterity" size="2"/>
        </dd>
        <dt>AGI</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.agility"></span>
          <input type="text" data-bind="value: characteristics.agility" size="2"/>
        </dd>
        <dt>INT</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.intelligence"></span>
          <input type="text" data-bind="value: characteristics.intelligence" size="2"/>
        </dd>
        <dt>POW</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.power"></span>
          <input type="text" data-bind="value: characteristics.power" size="2"/>
        </dd>
        <dt>WP</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.willpower"></span>
          <input type="text" data-bind="value: characteristics.willpower" size="2"/>
        </dd>
        <dt>PER</dt>
        <dd>
          <span class="editable" data-bind="text: characteristics.perception"></span>
          <input type="text" data-bind="value: characteristics.perception" size="2"/>
        </dd>
      </dl>
    </div>


    <div class="character-actions">
      <button class="action-remove-character">Remove Character</button>
      <button class="action-edit-character" data-bind="click: edit">Edit Character</button>
      <button class="action-clone-character">Clone Character</button>
      <button class="action-attack">Attack</button>
      <button class="action-cast-spell">Cast Spell</button>
    </div>
  </div>
</script>


<div id="actionbar">
  <div>
    <dl>
      <dt>Rounds:</dt>
      <dd><span data-bind="text: nRounds"></span></dd>
    </dl>
  </div>
  <div>
    <button id="actionRollInitiative" data-bind="click: rollInitiative">Roll Initiative</button>
    <button id="actionSetTrigger">Set Trigger</button>
    <button id="actionRollDice">Roll Dices</button>
    <button id="actionInvite">Invite Players</button>
  </div>
</div>


<div id="notice">
  <p><%= notice %></p>
</div>


<div id="mainarea">
  <div id="card-container" data-bind="template: { name: 'card-template', foreach:  characters, afterRender: addItems }">
    <div id="card-add" class="charactercard">
      <div><a href="#"><%= image_tag 'Icon-Plus-128x128.png' %><br/><span>Add Character</span></a></div>
    </div>
  </div>
</div>

<div id="dialog-roll-error" title="Error during roll">
  <p>
    <span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 50px 0;"></span>
    Your dice roll failed for a technical reason.
  </p>
  <p>Please try again.</p>
</div>


