<div class="charactercard">
  <div class="character-name">
    <h1>
      Friedrich Grauther
      <a href="#"><span class="ui-icon ui-icon-pencil character-action"></span></a>
      <a href="#"><span class="ui-icon ui-icon-copy character-action"></span></a>
    </h1>
  </div>
  <dl>
    <dt>Hit Points</dt>
    <dd>100%</dd>
  </dl>
</div>
